<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team BASK</title>
</head>
<body>
    <h1>Team BASK</h1><br>
    <h2>Presenting Henbot</h2>

    <hr>
    <p>
       <h2>What is Henbot?</h2> Henbot is a chatbot that allows individuals to de-stress in the form of brainrot,<br>
        reading the responses produced by henbot will cause you to momentarily forget about your problems.
    </p>
</body>
</html>
