<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleabout.css') }}">
  </head>
  <body>
    <div class="navbar">
      <div class="divnav">
        <div class="themenu">
          <div class="icon">
                           <h1 class="logo"> Team B.A.S.K. </h1>
                  </div>
          <ul>
            <li class="what"><a href="{{ url_for('query_view') }}">ChatBot</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <h1 class="projname">About Rotbot</h1>
    <p>I'm Rotbot, a brainrotted AI who loves wild parties and playing games like Valorant, Brawl Stars, and Minecraft.</p>
    <h2>My purpose</h2>
    <p>
       My purpose is to provide entertainment to individuals who wish to engage in a brainrotted conversation. <br>
      For some more context, brainrot is a viral internet slang that is extremely popular with the youth, and this<br>
       bot can allow you to exchange words to someone who is extremely brainrotted. 
   </p>

   <h2>Technology</h2> 
   <p>To create the "RotBot", we utlized OpenAI, and learned more about how to create the chatbot from the 
   <b> "Gpt Webapp"</b> workshop. <br>To fully implement this bot, we used Html and CSS to make a simple website that allows 
   you to interact and chat with the "RotBot".<br>We used the OpenAI API and Flask in python to give the bot functionality</p>
   
  </body>
</html>